NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/coined_prod?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret
PORT=5001
CLIENT_URL=https://coined.novdaunion.uz
WEBAPP_URL=https://coined.novdaunion.uz
EMAIL_USER=
EMAIL_PASS=
TELEGRAM_BOT_TOKEN=
BOT_PORT=5002
USE_WEBHOOK=false
WEBHOOK_URL=
